/**
 * Less Template
 * @author: Rutger Laurman - lekkerduidelijk.nl
 * @url: https://github.com/lekkerduidelijk/less-template
 */

@bowerpath: "../../bower_components/";

// Import Normalize
// @import (less) "@{bowerpath}normalize-css/normalize.css";

// Import Bootstrap
@import "@{bowerpath}bootstrap/less/bootstrap";

// Settings
// @import "variables";

// Base
// @import "mixins";
//@import "base";

// Layout
// @import "layout/l-header";
// @import "layout/l-footer";

// Modules
// @import "module/nav";


.block {
  background: #ccc;
  //border: 2px solid #999;
  display: block;
  min-height: 50px;
  height: auto;
  width: 100%;
  margin: 10px 0;
//  overflow: hidden;
float: left;
}
h2 {
  text-align: center;
}
.container-1170 {
  max-width: 1170px;
  margin: 0 auto;
  > .container {
    max-width: 1170px !important;
  }
}

.container-970 {
  max-width: 970px;
  margin: 0 auto;
  > .container {
    max-width: 970px !important;
  }
}
.container-750 {
  max-width: 750px;
  margin: 0 auto;
  > .container {
    max-width: 750px !important;
  }
}


img {
  //.img-responsive;
}
header {
  text-align: center;
}
footer {
  margin-top: 40px;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5
}
